
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>401</title>
</head>
<body>
    <div class="alert alert-danger">
        Bạn không có quyền đăng nhập !!
        <br />
        Liên hệ Quản trị để được cấp quyền. 
    </div>
</body>
</html>
